@{
    ViewData["Title"] = "Used Game Browser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using UsedGameBrowser.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<hr />
<div class="form">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <div class="col-xs-6">
            @Html.LabelFor(m => m.Email)
        </div>
        <div class="col-xs-6">
            @Html.TextBoxFor(m => m.Email)
        </div>
        <div class="col-xs-6">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="col-xs-6">
            @Html.PasswordFor(m => m.Password)
        </div>
        <div class="col-xs-6">
            @Html.LabelFor(m => m.ConfirmPassword)
        </div>
        <div class="col-xs-6">
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>

        <br />

        <input type="submit" value="Register" class="btn btn-default" />
    }
</div>