@{
    ViewData["Title"] = "Used Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model UsedGameBrowser.Models.Game

<h4>Add a new game</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Title)
    @Html.EditorFor(model => model.Title)

    @Html.LabelFor(model => model.AveragePrice)
    @Html.EditorFor(model => model.AveragePrice)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.LabelFor(model => model.PlatformId)
    @Html.DropDownList("PlatformId")

    <input type="submit" value="Create" class="btn btn-default" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>
