@{
    ViewData["Title"] = "Used Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model UsedGameBrowser.Models.Game

<h2>@Html.DisplayFor(model => model.Title)</h2>
<hr />

<p>Average Price: $@Html.DisplayFor(model => model.AveragePrice)</p>
<p>@Html.DisplayNameFor(model => model.Platform) : @Html.DisplayFor(model => model.PlatformId)</p>
<p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>

<p>@Html.ActionLink("Edit", "Edit", new { id = Model.GameId }) | @Html.ActionLink("Back to List", "Index")</p>