@{
    ViewData["Title"] = "Used Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<UsedGameBrowser.Models.Game>

<h2>Used Game Browser</h2>
<ul>
    @foreach (var listItem in Model)
    {
        <li>
            @Html.DisplayFor(modelItem => listItem.Title)
                | Average Price: $@Html.DisplayFor(modelItem => listItem.AveragePrice)
                | @Html.ActionLink("Details", "Details", new { id = listItem.GameId })
                | @Html.ActionLink("Edit", "Edit", new { id = listItem.GameId })
                | @Html.ActionLink("Delete", "Delete", new { id = listItem.GameId })
        </li>
    }
</ul>
<p>@Html.ActionLink("Add new item", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
